* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
 
.sec-address{
  text-align: center;
  border: 2px solid black;
  padding: 10px 20px;
  margin: 0 auto 80px;
  z-index: 1;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  width: fit-content;
}
.sec-address::before {
  content: " ";
  color: white;
  background-color: #2196f3;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.sec-address::after {
  content: " ";
  color: white;
  background-color: #2196f3;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  border-radius: 50%;
}
.sec-address:hover{
  background-color: #2196f3;
  color: white;
  transition: 0.5s;
  border: 2px solid #2196f3;
}
 
/*start Pricing Plans styling */
.Pricing-Plans{
  padding: 100px 0;
  background-color: #ececec;
}
.img{
  background:url(../imgs/dots.png);
  position: absolute;
  background-repeat: no-repeat;
  height: 186px;
  width: 204px;
}
.img-up-right{
 right: 0;
 top: 200px;
}
.img-down-left{
 left: 0;
 bottom: -200px;
 
}
.Pricing-Plans-sec{
  position: relative;
  background-color: white;
  text-align: center;
   
  box-shadow:
  rgba(0, 0, 0, 0.13) 0px 12px 20px 0px,
  rgba(0, 0, 0, 0.12) 0px 2px 4px 0px ;
}
.Pricing-Plans-sec:hover{
  background-color: #f6f6f6;
  transition: 0.3s;
}
 
.Pricing-Plans-sec-parent{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}
 
.Pricing-Plans-sec h3{
  font-weight: bold;
  font-size: 25px;
  letter-spacing: -1px;
  padding: 30px 0px;
}
.Pricing-Plans-sec img{
  width: 80px;
  margin-bottom: 30px;
}
.Pricing-Plans-sec p{
  color: #2196f3; 
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}
.Pricing-Plans-sec span{
 
  color: rgb(119, 119, 119);
}
.Pricing-Plans-sec ul{
padding-top: 20px;
text-align: left;
}
.Pricing-Plans-sec ul li{
  padding: 20px;
  border-top: 1px solid rgb(238, 238, 238);
  }
.Pricing-Plans-sec ul li i{
  color:#2196f3 ;
  margin-right: 10px;
  font-weight: bold;
  font-size: 25px;
}
.Pricing-Plans-sec .Pricing-Plans-sec-btn{
 background-color: white;
 border: 2px solid #2196f3;
 margin: 30px auto 40px;
 padding: 15px 20px;
 border-radius: 6px;
 width: fit-content ;

}
.Pricing-Plans-sec .Pricing-Plans-sec-btn:hover{
  background-color: #2196f3;
  transition: 0.3s;
}
.Pricing-Plans-sec .Pricing-Plans-sec-btn a{
color: #2196f3;
font-weight: bold;
}
.Pricing-Plans-sec .Pricing-Plans-sec-btn a:hover{
  color: white;
  transition: 0.3s;
}
#Pricing-Plans-sec-advanced .label{
  position: absolute;
  background-color: #2196f3;
  color: white;
  padding: 10px 10px 35px 10px;
 writing-mode: vertical-rl;
  font-size: 18px ;
  font-weight:bold ;
  width: 40px;
  right: 20px;

}
#Pricing-Plans-sec-advanced .label::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent white;

}
@media  (min-width:1200px) {
  #Pricing-Plans-sec-advanced{
    top: -20px;
  }
  
}
/* end Pricing Plans styling */
/* start topvideos styling */
.top-videos {
  padding: 100px 0;
}
@media (max-width: 991px) {
  .video-list-parent {
    flex-direction: column;
  }
}
 
.video-list-parent {
  display: flex;
  justify-content: center;
  align-items: center;

}

.list-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  border-top: 2px solid #ececec;
  border-left: 2px solid #ececec;
}

.list {
  background-color: white;
  min-width: 300px;
}

.video-list .list ul li {
  padding: 20px;
  border-bottom: 2px solid #ececec;
  border-left: 2px solid #ececec;
}

.video-list .list ul li:hover {
  background-color: #fafafa;
  color: #1DA1F2;
  transition: 0.5s;
  cursor: pointer;
}

.video-list .list ul li span {
  color: #777;
  display: block;
  margin-top: 10px;
}

.video-img {
  border-top: 2px solid #ececec;
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 680px;


}

.video-img img {
  max-width: 100%;
  border: none;
}

.video-img .img-info {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
/* end topvideos styling */
/* start stats section styling */
.stat {
  background: url(../imgs/stats.jpg);
  position: relative;
  background-size: cover;
  min-height: 300px;
  padding: 100px 0;
}

.stat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}


.stat h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.numbers {
  background-color: white;
  opacity: 0.8;
  text-align: center;
  padding: 30px 15px;
  position: relative;
  width: 250px;
}

.numbers:hover {
  opacity: 1;
  transition: 0.3s;
  border-left: 2px solid #2196f3;
  border-right: 2px solid #2196f3;
}

.num {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  color: #2196f3;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* end stats section styling */

/*start discount section styling */
.discount {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.dis-contan1 {
  background: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.dis-contan1::before {
  background-color: rgb(23 135 224 / 97%);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;

}

.discount-details {

  text-align: center;
  padding: 0 20px;

  margin-top: 33.2px;
  margin-bottom: 33.2px;

}

.discount .dis-contan1 .discount-details h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-top: 33.2px;
  margin-bottom: 33.2px;

}

.discount .dis-contan1 .discount-details p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
  text-align: center;
}

.discount .dis-contan1 .discount-details img {
  width: 300px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .discount .dis-contan1 .discount-details img{
    flex-basis: 100%;
  }
}

.request-disscount .discount-details h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-top: 33.2px;
  margin-bottom: 33.2px;

}

form {
  width: 350px;
  margin: auto;
}
@media (max-width: 991px) {
  form {
    flex-basis: 100%;
  }
}

.discount .request-disscount .input {
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  background-color: #f9f9f9;
}

textarea {
  height: 200px;
  resize: none;
}

form .button button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 53px;
}

form .button button:hover {
  background-color: #1787e0;
  transition: 0.3s;
}
/*end discount section styling */
/*statr footer styling */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
.footerparent1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;

}

.sec1 h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}

.sec1 ul {
  display: flex;

}

.sec1 ul li {
  margin-right: 10px;
}

.sec1 ul li a {
  color: #b9b9b9;
  background-color: #313131;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook :hover {
  background-color: #1877F2;
  color: white;
  transition: 0.3s;
}

.twitter :hover {
  background-color: #1DA1F2;
  color: white;
  transition: 0.3s;
}

.youtube :hover {
  background-color: #FF0000;
  color: white;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .footericons {
    justify-content: center;
  }
}

.sec1 p {
  color: #b9b9b9;
  line-height: 2;
  margin: 16px 0;
}

.sec2 ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.sec2 ul li {

  padding: 15px 0;
}

.sec2 ul li a {
  color: #b9b9b9;

}

.sec2 ul li i {
  color: #1787e0;
}


.sec2 ul li a::before {
  font-weight: 900;
  margin-right: 10px;
}

.sec2 ul li a:hover {
  color: #ececec;
  margin-left: 7px;
  transition: 0.3s;
}

.sec3-1,
.sec3-2,
.sec3-3 {
  display: flex;
  align-items: center;
}

.sec3 .description {
  color: #b9b9b9;
  line-height: 2;
  margin-bottom: 30px;
  flex: 1;
}

.sec3 i {
  color: #1787e0;
  font-size: 25px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .sec-3 {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .sec3 i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.sec4 img {
  width: 78px;
  border: 3px solid white;
  border-image: initial;
  margin: 2px;
}

.footparent2 p {
  color: white;
  text-align: center;
  padding: 25px 0;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/*end footer styling */

 

